@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
:root{
  --primary-color: #067BC2;
  --primary-color-darker: #13262F;
  --primary-color-clear: #42E2B8;
  --secundary-color-clear: #ED474A;
  --clear-color: #E9E6FF;
}

*{
  box-sizing: border-box;
  outline: 0;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  background: var(--primary-color-darker);
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5rem;
}

.container{
  max-width: 76.8rem;
  margin: 50px auto;
  background: var(--clear-color);
  padding: 3rem;
  border-radius: 0.5rem; 
  box-shadow: 0.8rem 0.8rem var(--primary-color);
}

.container-button{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

button{
  border: 0.3rem solid #42e2b756;
  color: var(--primary-color-clear);
  font-size: 2.5rem;
  height: 6rem; 
  width: 20rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out; 
} 

button:hover{
  background: var(--primary-color-clear);
  color: var(--clear-color);
}

.title{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: var(--primary-color-darker);
}

.timer{
  font-size: 4em;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
}

.paused{
  color: var(--secundary-color-clear);
}

